@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    border-bottom: 2px dotted #ffffff;
    color: #ffffff;
}

a:hover {
    border-bottom-style: solid;
}

html {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    font-family: "VT323", "Robot", "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: #1b1a17;
    color: #ffffff;
    padding: 12px 12px 52px 12px;
}

p {
    font-size: 18px;
    line-height: 24px;
    margin: 12px 0px 12px 0px;
}

.main {
    display: flex;
}

@media only screen and (max-width: 1120px) {
    .main {
        flex-direction: column;
    }    
}

.main > .side-left {
    flex: 1 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main > .side-left .canvas-container.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #2d2d2d;
    z-index: 6;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .side-left .canvas-container > .canvas {
    margin-top: 76px;
    border: 2px solid #50cb93;
    padding: 8px 8px 8px 8px;
    background-color: #1b1a17;
    max-width: 100%;
}

@media only screen and (max-width: 1120px) {
    .main > .side-left .canvas-container > .canvas {
        margin-top: 12px;
    }    
}

.main > .side-left .canvas-container.fullscreen > .canvas {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
    width: 100%;
    height: 100%;
}

.main > .side-right {
    flex: 0 1;
    min-width: 580px;
    max-width: 100%;
    padding: 0px 24px 0px 24px;
}

@media only screen and (max-width: 1120px) {
    .main > .side-right {
        min-width: unset;
        padding: 0px 0px 0px 0px;
    }    
}

.main > .side-right .logo-image {
    vertical-align: middle;
    width: 32px;
}

.main > .side-right .separator {
    height: 2px;
    background: #ffffff;
    margin: 22px 0px 22px 0px;
}

.main > .side-right .diag {
    font-size: 24px;
    vertical-align: top;
}

.main > .side-right .diag > dt {
    float: left;
    clear: both;
    margin-top: 12px;
}

.main > .side-right .diag > dt:first-of-type {
    margin-top: 0px;
}

.main > .side-right .diag > dd {
    margin-top: 12px;
    float: right;
}

.main > .side-right .diag > dd:first-of-type {
    margin-top: 0px;
}

.main > .side-right .diag::after {
    content: '';
    display: block;
    clear: both;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0px 22px 0px 22px;
    text-align: center;
    line-height: 40px;
    background-color: #1b1a17;
}

.toast {
    position: fixed;
    z-index: 8;
    left: 50%;
    padding: 12px 18px 12px 18px;
    background-color: #2a9d8f;
    font-size: 20px;
    line-height: 22px;
    border-radius: 4px 4px 4px 4px;
    transform: translate(-50%, 0%);
    cursor: pointer;
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.0;
    top: -40px;
}

.toast.error {
    background-color: #e63946;
}

.toast.visible {
    top: 24px;
    opacity: 1.0;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(80, 203, 147, 0.95);
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    opacity: 0.0;
    pointer-events: none;
    transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-area > * {
    margin-bottom: 12px;
}

.magnify-button {
    transition: transform 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: inline-block;
    cursor: pointer;
}

.magnify-button:hover {
    transform: scale(1.3, 1.3);
}

.magnify-button:active {
    transform: scale(1.0, 1.0);
}

.tiny-button {
    display: inline-block;
    padding: 0px 8px 0px 8px;
    border-radius: 96px 96px 96px 96px;
    cursor: pointer;
    user-select: none;
}

.tiny-button.border {
    border: 1px solid #ffffff;
}

.tiny-button.padded {
    padding: 4px 10px 4px 10px;
}

.tiny-button.enabled {
    background-color: #50cb93;
}

.tiny-button:hover {
    background-color: #50cb93;
}

.tiny-button:active {
    background-color: #2a9d8f;
}

.tiny-button > img {
    vertical-align: top;
    width: 13px;
    margin-right: 6px;
    margin-top: 2px;
}

.overlay.visible {
    opacity: 1.0;
}

.overlay .overlay-image {
    margin-top: 16px;
}

.overlay .overlay-image > img {
    width: 64px;
}
